VITE_SUPABASE_URL=https://sbudolacvzmzqjmosdpr.supabase.co
VITE_SUPABASE_ANON_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNidWRvbGFjdnptenFqbW9zZHByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NjAzNzQsImV4cCI6MjA5NjIzNjM3NH0.F4IsVvB-RgY2D6h0PJ6dwswZyOwLk7L8LnvDSjDz6VI
